In [2]:
import pandas as pd
df = pd.read_csv('cities.csv')
df

    Unnamed: 0  Population      Capital  Area      CM
0    Karnataka        6.72    Bangalore   2.1   Bomai
1  Maharashtra       12.54       Mumbai   3.1  Shinde
2      Gujarat        7.00  Gandhinagar   5.5     xyz